.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}
/* Autocomplete */ 
@media (min-width: 1025px) {
  :global(.vtex-search-1-x-biggy-autocomplete) {
    left: 11.5vw;
    width: 986px;
  } 
}
:global(.vtex-search-1-x-biggy-autocomplete) :global(.vtex-search-1-x-tileListTitle) {
  font-family: 'Billy';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #8E3392;
}
:global(.vtex-search-1-x-biggy-autocomplete) :global(.vtex-search-1-x-tileListItem) :global(.vtex-product-summary-2-x-buyButton) {
  padding: 0px 10px;
}

/* Desktop */ 
:global(.vtex-flex-layout-0-x-flexRow--banner-searchResult) :global(.vtex-store-components-3-x-container) {
  padding: 0px;
}
:global(.vtex-breadcrumb-1-x-homeIcon) {
  color: white;
}
:global(.vtex-breadcrumb-1-x-homeLink)::after {
  content: "Home";
  position: relative;
  top: -28px;
  font-size: 12px;
  color: #A1A1A1;
}
:global(.vtex-breadcrumb-1-x-homeLink) {    
  width: 35px;
  height: 18px;
}
:global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-arrow) {
  color: #000000;
}
:global(.vtex-breadcrumb-1-x-container) :global(.vtex-breadcrumb-1-x-link) {
  color: #000000;
  font-size: 12px;
}


@media (min-width: 1025px) {
  :global(.vtex-search-result-3-x-searchResultContainer) {
    padding: 0px;
  }
  
  :global(.vtex-flex-layout-0-x-flexRow--search-breadCrum),
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--carouse-searchResult),
  :global(.vtex-flex-layout-0-x-flexRow--search-searchTitle),
  :global(.vtex-flex-layout-0-x-flexRow--search-result) {
    padding: 0px 84px;
  }
  :global(.vtex-flex-layout-0-x-flexRow--search-breadCrum) {
    margin: 46.5px 0px 39.5px 0px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--desk-slider-searchResult) {
    padding: 0px 64px;
  }
  :global(.vtex-flex-layout-0-x-flexCol--col-sliderSearchResult-item1),
  :global(.vtex-flex-layout-0-x-flexCol--col-sliderSearchResult-item2),
  :global(.vtex-flex-layout-0-x-flexCol--col-sliderSearchResult-item3),
  :global(.vtex-flex-layout-0-x-flexCol--col-sliderSearchResult-item4),
  :global(.vtex-flex-layout-0-x-flexCol--col-sliderSearchResult-item5) {
    background-color: #E42990;
  }
  :global(.vtex-flex-layout-0-x-flexCol--col-sliderSearchResult-item1):hover,
  :global(.vtex-flex-layout-0-x-flexCol--col-sliderSearchResult-item2):hover,
  :global(.vtex-flex-layout-0-x-flexCol--col-sliderSearchResult-item3):hover,
  :global(.vtex-flex-layout-0-x-flexCol--col-sliderSearchResult-item4):hover,
  :global(.vtex-flex-layout-0-x-flexCol--col-sliderSearchResult-item5):hover {
    background: #8E3392;
  }
  :global(.vtex-store-components-3-x-imageElement--desk-searchResult-item) {
    padding: 20px 39px 0px 38px;
  }
  :global(.vtex-rich-text-0-x-paragraph--text-slider-searchResult) {
    font-family: 'Billy';
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 34px;
    color: #FFFFFF;

    margin: 15px 0px 8px 0px;
    /* padding: 15px auto 8px auto; */
  }

  :global(.vtex-search-result-3-x-galleryTitle--layout) {
    font-family: 'Billy';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
    text-align: center; 
    color: #E42990;
    text-transform: initial;
  }

  :global(.vtex-search-result-3-x-totalProducts--layout) {
    font-family: "RobotoRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    text-transform: none;
  }
  :global(.vtex-search-result-3-x-totalProductsMessage) {
    font-family: "RobotoRegular";
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    color: #000000;
    text-transform: none;
    font-size: 0px;
  }
  :global(.vtex-search-result-3-x-totalProductsMessage)::after {
    font-size: 12px;
    content: "resultados";
  }
}
/* Texto filtros MOBILE */
:global(.vtex-rich-text-0-x-paragraph--text-slider-mob-searchResult) {
  margin-top: 0px;
  font-family: 'Billy';
  font-size: 20px;
  line-height: 20px;
  color: #8E3392;
}

:global(.vtex-search-result-3-x-filtersWrapper) :global(.vtex-search-result-3-x-filterMessage),
:global(.vtex-search-result-3-x-filtersWrapper) :global(.vtex-search-result-3-x-filterTitle) :global(.vtex-search-result-3-x-filterTitleSpan) {
  font-family: 'Billy';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #8E3392;
}
/* :global(.vtex-search-result-3-x-filter__container) :global(.vtex-search-result-3-x-filterIsOpen)::after {
  content: url(assets/search-result/icon-categoriArrowDown.svg);
  content: "aaa";
} */
:global(.vtex-search-result-3-x-filtersWrapper) :global(.vtex-checkbox__container) :global(.vtex-checkbox__inner-container) {
  border: 1px solid #8E3392 !important;
  border-radius: 2px;
  /* margin-top: 4px !important; */
}
:global(.vtex-search-result-3-x-filtersWrapper) :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label) {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
/* Rango de precios */
:global(.vtex-search-result-3-x-filtersWrapper) :global(.vtex-slider__selector-container) :global(.vtex-slider__selector),
:global(.vtex-search-result-3-x-filtersWrapper) :global(.vtex-slider__base) :global(.vtex-slider__base-internal) {
  background-color: #8E3392;
}
:global(.vtex-search-result-3-x-filterTitle) :global(.vtex-search-result-3-x-filterIcon) {
  color: #8E3392;
}
:global(.vtex-search-result-3-x-filtersWrapper) :global(.vtex-slider__values-container) :global(.vtex-slider__left-value),
:global(.vtex-search-result-3-x-filtersWrapper) :global(.vtex-slider__values-container) :global(.vtex-slider__right-value) {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
/* Sort by */ 
:global(.vtex-search-result-3-x-orderBy--layout) :global(.vtex-search-result-3-x-orderByButton) {
  border: 1px solid #8E3392;
  border-radius: 5px;
}
:global(.vtex-search-result-3-x-orderByDropdown) {
  margin-right: 20px;
}
:global(.vtex-search-result-3-x-orderByButton) :global(.vtex-search-result-3-x-filterPopupTitle) :global(.vtex-search-result-3-x-orderByText) {
  text-transform: initial;
  color: #000000;
}
:global(.vtex-search-result-3-x-orderByButton) :global(.vtex-search-result-3-x-filterPopupTitle) :global(.vtex-search-result-3-x-orderByText)::after {
  content: ":";
}

/* Filtros laterales */
:global(.vtex-search-result-3-x-filtersWrapper) {
  border: 1px solid #000000;
  padding: 13px 14px 30px 14px;
}
:global(.vtex-search-result-3-x-filter__container) {
  display: none;
}
:global(.vtex-search-result-3-x-filter__container--priceRange) {
  display: block;
  border: 0px;
}
:global(.vtex-search-result-3-x-filter__container--priceRange) :global(.vtex-search-result-3-x-filterTitleSpan) {
  font-family: 'Billy';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #8E3392;
}

/* Mobile */ 
@media (max-width: 1025px) {
  :global(.vtex-search-result-3-x-searchResultContainer) {
    padding: 0px;
  }

  /* :global(.vtex-slider-layout-0-x-sliderTrack--carousel-searchResult) {
    width: 60rem !important;
  }
  :global(.vtex-slider-layout-0-x-slide--carousel-searchResult),
  :global(.vtex-slider-layout-0-x-slideChildrenContainer--carousel-searchResult) {
    width: auto !important;
  }
  :global(.vtex-slider-layout-0-x-slide--carousel-searchResult) {
    width: auto;
  } */
  :global(.vtex-slider-layout-0-x-imageElement--banner-searchResult) {
    padding-bottom: 30px;
  }
  :global(.vtex-store-components-3-x-imageElement--mob-searchResult-item) {
    background-color: #E42990;
  }
  :global(.vtex-slider-layout-0-x-paginationDot--carousel-searchResult) {
    background-color: #F58831;
    height: 15px !important;
    width: 15px !important;
  }

  :global(.vtex-slider-layout-0-x-paginationDot--carousel-searchResult--isActive) {
    background-color: #00B6E9;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--mob-slider-searchResult) {
    padding-bottom: 20px;
  }

  :global(.vtex-slider-layout-0-x-paginationDotsContainer--carousel-searchResult) {
    top: 100%;
  }
  
  /* Forma de mostrar */
    :global(.vtex-search-result-3-x-galleryLayoutOptionButton) {
      color: #E42990;
      background-color: #FFFFFF;
      padding: 6px 5px;
    }
    :global(.vtex-search-result-3-x-galleryLayoutOptionButton):first-child {
      /* content: url(assets/search-result/icon-vistaCuadros.svg);  */
      background: url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"> <path d="M0.5 2.75C0.5 2.15326 0.737053 1.58097 1.15901 1.15901C1.58097 0.737053 2.15326 0.5 2.75 0.5H7.25C7.84674 0.5 8.41903 0.737053 8.84099 1.15901C9.26295 1.58097 9.5 2.15326 9.5 2.75V7.25C9.5 7.84674 9.26295 8.41903 8.84099 8.84099C8.41903 9.26295 7.84674 9.5 7.25 9.5H2.75C2.15326 9.5 1.58097 9.26295 1.15901 8.84099C0.737053 8.41903 0.5 7.84674 0.5 7.25V2.75ZM12.5 2.75C12.5 2.15326 12.7371 1.58097 13.159 1.15901C13.581 0.737053 14.1533 0.5 14.75 0.5H19.25C19.8467 0.5 20.419 0.737053 20.841 1.15901C21.2629 1.58097 21.5 2.15326 21.5 2.75V7.25C21.5 7.84674 21.2629 8.41903 20.841 8.84099C20.419 9.26295 19.8467 9.5 19.25 9.5H14.75C14.1533 9.5 13.581 9.26295 13.159 8.84099C12.7371 8.41903 12.5 7.84674 12.5 7.25V2.75ZM0.5 14.75C0.5 14.1533 0.737053 13.581 1.15901 13.159C1.58097 12.7371 2.15326 12.5 2.75 12.5H7.25C7.84674 12.5 8.41903 12.7371 8.84099 13.159C9.26295 13.581 9.5 14.1533 9.5 14.75V19.25C9.5 19.8467 9.26295 20.419 8.84099 20.841C8.41903 21.2629 7.84674 21.5 7.25 21.5H2.75C2.15326 21.5 1.58097 21.2629 1.15901 20.841C0.737053 20.419 0.5 19.8467 0.5 19.25V14.75ZM12.5 14.75C12.5 14.1533 12.7371 13.581 13.159 13.159C13.581 12.7371 14.1533 12.5 14.75 12.5H19.25C19.8467 12.5 20.419 12.7371 20.841 13.159C21.2629 13.581 21.5 14.1533 21.5 14.75V19.25C21.5 19.8467 21.2629 20.419 20.841 20.841C20.419 21.2629 19.8467 21.5 19.25 21.5H14.75C14.1533 21.5 13.581 21.2629 13.159 20.841C12.7371 20.419 12.5 19.8467 12.5 19.25V14.75Z" fill="%238E3392"/> </svg>')  no-repeat center center / contain;
      background-repeat: no-repeat;
      background-position:  center;
      background-size: 131% 100%;
      text-align: center;
      display:inline-block ;


      fill: #3f29e4;
    }
    :global(.vtex-search-result-3-x-galleryLayoutOptionButton):last-child {
      content: url(assets/search-result/icon-vistaFilas.svg);
    }
    :global(.vtex-search-result-3-x-galleryLayoutOptionButton)::selection {
      /* background: url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"> <path d="M0.5 2.75C0.5 2.15326 0.737053 1.58097 1.15901 1.15901C1.58097 0.737053 2.15326 0.5 2.75 0.5H7.25C7.84674 0.5 8.41903 0.737053 8.84099 1.15901C9.26295 1.58097 9.5 2.15326 9.5 2.75V7.25C9.5 7.84674 9.26295 8.41903 8.84099 8.84099C8.41903 9.26295 7.84674 9.5 7.25 9.5H2.75C2.15326 9.5 1.58097 9.26295 1.15901 8.84099C0.737053 8.41903 0.5 7.84674 0.5 7.25V2.75ZM12.5 2.75C12.5 2.15326 12.7371 1.58097 13.159 1.15901C13.581 0.737053 14.1533 0.5 14.75 0.5H19.25C19.8467 0.5 20.419 0.737053 20.841 1.15901C21.2629 1.58097 21.5 2.15326 21.5 2.75V7.25C21.5 7.84674 21.2629 8.41903 20.841 8.84099C20.419 9.26295 19.8467 9.5 19.25 9.5H14.75C14.1533 9.5 13.581 9.26295 13.159 8.84099C12.7371 8.41903 12.5 7.84674 12.5 7.25V2.75ZM0.5 14.75C0.5 14.1533 0.737053 13.581 1.15901 13.159C1.58097 12.7371 2.15326 12.5 2.75 12.5H7.25C7.84674 12.5 8.41903 12.7371 8.84099 13.159C9.26295 13.581 9.5 14.1533 9.5 14.75V19.25C9.5 19.8467 9.26295 20.419 8.84099 20.841C8.41903 21.2629 7.84674 21.5 7.25 21.5H2.75C2.15326 21.5 1.58097 21.2629 1.15901 20.841C0.737053 20.419 0.5 19.8467 0.5 19.25V14.75ZM12.5 14.75C12.5 14.1533 12.7371 13.581 13.159 13.159C13.581 12.7371 14.1533 12.5 14.75 12.5H19.25C19.8467 12.5 20.419 12.7371 20.841 13.159C21.2629 13.581 21.5 14.1533 21.5 14.75V19.25C21.5 19.8467 21.2629 20.419 20.841 20.841C20.419 21.2629 19.8467 21.5 19.25 21.5H14.75C14.1533 21.5 13.581 21.2629 13.159 20.841C12.7371 20.419 12.5 19.8467 12.5 19.25V14.75Z" fill="%23000000"/> </svg>')  no-repeat center center / contain; */
      background: black;
    }
    /* :global(.vtex-search-result-3-x-galleryLayoutOptionButton--selected) {
      fill: #8E3392 !important;
      background-color: #FFFFFF;
    } */

  :global(.vtex-search-result-3-x-galleryTitle--layout) {
    font-family: 'Billy';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center; 
    color: #E42990;
    text-transform: initial;
  }

  :global(.vtex-search-result-3-x-totalProductsMessage) {
    font-family: "RobotoRegular";
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    color: #000000;
    text-transform: none;
    font-size: 0px;
  }
  :global(.vtex-search-result-3-x-totalProductsMessage)::after {
    font-size: 12px;
    content: "resultados";
  }
  :global(.vtex-search-result-3-x-totalProducts--layout) {
    margin: auto;
  }

  :global(.vtex-search-result-3-x-orderByButton) :global(.vtex-search-result-3-x-filterPopupTitle) {
    text-transform: none;
  }

  :global(.vtex-search-result-3-x-filterPopupButton) {
    border: 1px solid #8E3392;
    border-radius: 5px;
  }
  /* Filtros */
  :global(.vtex-search-result-3-x-accordionFilter) :global(.vtex-search-result-3-x-accordionFilterContainer) {
    display: none;
  }
  :global(.vtex-search-result-3-x-accordionFilter) :global(.vtex-search-result-3-x-accordionFilterContainer--gama-de-precios) {
    display: block;
  }
  :global(.vtex-search-result-3-x-filterAccordionBreadcrumbs) :global(.vtex-search-result-3-x-filterBreadcrumbsText),
  :global(.vtex-search-result-3-x-filterBreadcrumbsItem) :global(.vtex-search-result-3-x-filterBreadcrumbsItemName),
  :global(.vtex-search-result-3-x-accordionFilter) :global(.vtex-search-result-3-x-filterAccordionItemBox--gama-de-precios) :global(.vtex-search-result-3-x-accordionFilterContent) 
  :global(.vtex-search-result-3-x-accordionFilterItemTitle) {
    font-family: "Billy";
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: #8E3392;
  }
  :global(.vtex-search-result-3-x-filterAccordionBreadcrumbs) :global(.vtex-search-result-3-x-caretIcon) {
    color: #8E3392;
  }
  /* Rango de precios */
  :global(.vtex-search-result-3-x-filterTemplateOverflow) :global(.vtex-slider) :global(.vtex-slider__selector-container) :global(.vtex-slider__selector),
  :global(.vtex-search-result-3-x-filterTemplateOverflow) :global(.vtex-slider) :global(.vtex-slider__base) :global(.vtex-slider__base-internal) {
    background-color: #8E3392;
  }
  :global(.vtex-search-result-3-x-filterTitle) :global(.vtex-search-result-3-x-filterIcon) {
    color: #8E3392;
  }
  :global(.vtex-search-result-3-x-filterTemplateOverflow) :global(.vtex-slider__values-container) :global(.vtex-slider__left-value),
  :global(.vtex-search-result-3-x-filterTemplateOverflow) :global(.vtex-slider__values-container) :global(.vtex-slider__right-value) {
    font-family: 'RobotoRegular';
    color: #000000;
  }

  /* Sección de Filtros */
  :global(.vtex-search-result-3-x-filterButtonsBox) :global(.vtex-search-result-3-x-filterApplyButtonWrapper) :global(.vtex-button) {
    background-color: #8E3392;
    border-radius: 5px;
    border: 0px;
    color: #FFFFFF;
  }
  :global(.vtex-search-result-3-x-filterButtonsBox) :global(.vtex-search-result-3-x-filterClearButtonWrapper) :global(.vtex-button) {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #8E3392;
    color: #8E3392;
  }
}